In [1]:
import pandas as pd
from pandasai import SmartDataframe
from pandasai.llm import OpenAI
import numpy as np
import sqlite3

In [2]:
llm = OpenAI(api_token="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")

# Data

## Loading the data

In [42]:
clean_df = pd.read_csv("data/crx.csv")

In [43]:
clean_df.head(2)

  A1     A2    A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0  b  30.83  0.00  u  g  w  v  1.25  t   t    1   f   g  00202    0   +
1  a  58.67  4.46  u  g  q  h  3.04  t   t    6   f   g  00043  560   +

In [44]:
cols = list(clean_df.columns)

In [ ]:
#get the dirty data from UCI repo
!pip install ucimlrepo

In [5]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
credit_approval = fetch_ucirepo(id=27) 
  
# data (as pandas dataframes) 
X = credit_approval.data.features 
y = credit_approval.data.targets

  A16
0   +
1   +
2   +
3   +

In [27]:
dirty_df = pd.concat([X,y], axis=1)
dirty_df = dirty_df[cols]

In [28]:
dirty_df.head(2)

  A1     A2    A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0  b  30.83  0.00  u  g  w  v  1.25  t   t    1   f   g  202.0    0   +
1  a  58.67  4.46  u  g  q  h  3.04  t   t    6   f   g   43.0  560   +

## Data Analysis

In [33]:
# find number of rows with null values in each column
val = dirty_df.isna().sum()
val

A1     12
A2     12
A3      0
A4      6
A5      6
A6      9
A7      9
A8      0
A9      0
A10     0
A11     0
A12     0
A13     0
A14    13
A15     0
A16     0
dtype: int64

In [54]:
val = clean_df.isna().sum()
val

A1     0
A2     0
A3     0
A4     0
A5     0
A6     0
A7     0
A8     0
A9     0
A10    0
A11    0
A12    0
A13    0
A14    0
A15    0
A16    0
dtype: int64

In [57]:
dirty_df[cols].describe()

,A2,A3,A8,A11,A14,A15
count,678.000000,690.000000,690.000000,690.00000,677.000000,690.000000
mean,31.568171,4.758725,2.223406,2.40000,184.014771,1017.385507
std,11.957862,4.978163,3.346513,4.86294,173.806768,5210.102598
min,13.750000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,22.602500,1.000000,0.165000,0.00000,75.000000,0.000000
50%,28.460000,2.750000,1.000000,0.00000,160.000000,5.000000
75%,38.230000,7.207500,2.625000,3.00000,276.000000,395.500000
max,80.250000,28.000000,28.500000,67.00000,2000.000000,100000.000000

In [59]:
# compare the mean and max values of int or float columns
for col in cols:
    
    if (dirty_df[col].dtype == "float64") or (dirty_df[col].dtype == "int64"):
        print(f"Max and min values in dirty df: {dirty_df[col].max()}, {dirty_df[col].min()}")
        print(f"Max and min values in clean df: {clean_df[col].max()}, {clean_df[col].min()}")

Max and min values in dirty df: 80.25, 13.75
Max and min values in clean df: ?, 13.75
Max and min values in dirty df: 28.0, 0.0
Max and min values in clean df: 28.0, 0.0
Max and min values in dirty df: 28.5, 0.0
Max and min values in clean df: 28.5, 0.0
Max and min values in dirty df: 67, 0
Max and min values in clean df: 67, 0
Max and min values in dirty df: 2000.0, 0.0
Max and min values in clean df: ?, 00000
Max and min values in dirty df: 100000, 0
Max and min values in clean df: 100000, 0

In [60]:
print(f"Length of dirty df: {len(dirty_df)}, length of clean df: {len(clean_df)}")

Length of dirty df: 690, length of clean df: 690

# Evaluate performance of EvaAI

In [48]:
import evadb

cursor = evadb.connect().cursor()
print("Connected to EvaDB")

Connected to EvaDB

In [49]:
cursor.query("DROP FUNCTION IF EXISTS ChatWithPandas;").execute()

In [50]:
create_function_query = f"""CREATE FUNCTION IF NOT EXISTS ChatWithPandas
            IMPL  './functions/chat_with_df.py';
            """
cursor.query(create_function_query).execute()
print("Created Function")

Created Function

In [51]:
sql_db = """CREATE DATABASE IF NOT EXISTS sqlite_data WITH ENGINE = 'sqlite', PARAMETERS = {
     "database": "evadb.db"
};"""

cursor.query(sql_db).execute()

Load into SQLite

In [61]:
import sqlite3
csv_file = 'data/crx.csv'
df = pd.read_csv(csv_file)

database_file = 'evadb.db'
conn = sqlite3.connect(database_file)

table_name = 'DIRTY_DATA'
df.to_sql(table_name, conn, if_exists='replace', index=False)

conn.commit()
conn.close()

In [ ]:
#replace null values with mean
chat_query_1 = f""" SELECT ChatWithPandas('general cleaning',
            {','.join(cols)}) FROM sqlite_data.DIRTY_DATA;
"""
result = cursor.query(chat_query_1).execute()
print(result)

# Comparison of cleaning performance

## Remove Duplicates

### Baseline

In [65]:
clean_dupl_df = pd.read_csv("clean_ml_data/Movie/duplicates/clean_train.csv")

In [66]:
dirty_dupl_df = pd.read_csv("clean_ml_data/Movie/duplicates/dirty_train.csv")

### PandasAI

In [67]:
pd_dirty_dupl_df = SmartDataframe(dirty_dupl_df, config={"llm": llm})

In [68]:
pd_clean_dupl_df = pd_dirty_dupl_df.chat("remove duplicate values based on title")

In [69]:
len(pd_clean_dupl_df)

4373

### EvaAIDf

In [70]:
database_file = 'evadb.db'
sql_conn = sqlite3.connect(database_file)

sql_cursor = sql_conn.cursor()

table_name = "DUPL_DATA"
sql_cursor.execute(f"PRAGMA table_info({table_name})")
columns = [row[1] for row in sql_cursor.fetchall()]

In [71]:
columns

['title',
 'genres',
 'budget',
 'language',
 'duration',
 'year',
 'vote_count',
 'score']

In [72]:
chat_query = f""" SELECT ChatWithPandas('remove duplicate rows based on title',
            title, genres, budget, language, duration, year, vote_count, score) FROM sqlite_data.DUPL_DATA;
"""


result = cursor.query(chat_query).execute()

/Users/ishsiva/Masters/Special Problems/DB Lab/pandas-ai-integration/datastructure/aidDataframe.py:13: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self.pd_df = df

In [73]:
eva_clean_dupl_df = pd.read_csv("new_df.csv")

In [74]:
len(eva_clean_dupl_df)

4373

### Comparisons

In [75]:
print(f"Length of dirty df: {len(dirty_dupl_df)}")
print(f"Lenght of Ideal cleaned df: {len(clean_dupl_df)} ")
print(f"Length of PandasAI library cleaning: {len(pd_clean_dupl_df)}")
print(f"Length of EvaAI cleaned df: {len(eva_clean_dupl_df)}")

Length of dirty df: 6531
Lenght of Ideal cleaned df: 4419
Length of PandasAI library cleaning: 4373
Length of EvaAI cleaned df: 4373

In [76]:
tmp = pd.read_csv("clean_ml_data/Movie/duplicates/dirty_train.csv")
tmp.head(2)

,title,genres,budget,language,duration,year,vote_count,score
0,Play It to the Bone,1,24000000,en,124,1999,53,5.7
1,Harry Potter and the Prisoner of Azkaban,0,130000000,en,141,2004,5877,7.7

In [78]:
#when manually performed
len(tmp.drop_duplicates(subset='title'))

4373

## Missing values

In [79]:
clean_missing_df = pd.read_csv("clean_ml_data/Titanic/missing_values/impute_mean_dummy_train.csv")

In [80]:
dirty_missing_df = pd.read_csv("clean_ml_data/Titanic/missing_values/dirty_train.csv")

### PandasAI

In [81]:
pd_dirty_missing_df = SmartDataframe(dirty_missing_df, config={"llm": llm})

In [82]:
pd_clean_missing_df = pd_dirty_missing_df.impute_missing_values()

### EvaAI

In [83]:
database_file = 'evadb.db'
conn = sqlite3.connect(database_file)

table_name = 'MISSING_DATA'
dirty_missing_df.to_sql(table_name, conn, if_exists='replace', index=False)

624

In [84]:
sql_cursor.execute(f"PRAGMA table_info({table_name})")
columns = [row[1] for row in sql_cursor.fetchall()]

conn.commit()
conn.close()

print(columns)

['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

In [ ]:
chat_query2 = f""" SELECT ChatWithPandas('impute null values with the mean value of the column.',
    {','.join(columns)}) FROM sqlite_data.MISSING_DATA;
"""

print(chat_query2)
result2 = cursor.query(chat_query2).execute()

In [63]:
eva_clean_missing_df = pd.read_csv("new_df.csv")

### Comparisons

In [86]:
print(f"Nos of null values in original dirty df: {dirty_missing_df.isnull().sum()}")
print(f"Nos of null values in original clean df: {clean_missing_df.isnull().sum()}")
print(f"Nos of null values in pandas ai clean df: {pd_clean_missing_df.isnull().sum()}")
print(f"Nos of null values in eva clean df: {eva_clean_missing_df.isnull().sum()}")

Nos of null values in original dirty df: PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            117
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          487
Embarked         2
dtype: int64
Nos of null values in original clean df: PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64
Nos of null values in pandas ai clean df: PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

## Outliers

In [89]:
clean_outliers_df = pd.read_csv("clean_ml_data/Airbnb/outliers/clean_SD_impute_mean_dummy_train.csv")

In [90]:
dirty_outliers_df = pd.read_csv("clean_ml_data/Airbnb/outliers/dirty_train.csv")

### PandasAI

In [91]:
pd_dirty_outliers_df = SmartDataframe(dirty_outliers_df, config={"llm": llm})

In [92]:
pd_clean_outliers_df = pd_dirty_outliers_df.chat("Replace values in Price column that are more than 2 std deviations from mean with the mean values")

### EvaAI

In [93]:
database_file = 'evadb.db'
conn = sqlite3.connect(database_file)

table_name = 'OUTLIERS_DATA'
dirty_outliers_df.to_sql(table_name, conn, if_exists='replace', index=False)

18406

In [94]:
sql_cursor.execute(f"PRAGMA table_info({table_name})")
columns = [row[1] for row in sql_cursor.fetchall()]

conn.commit()
conn.close()

print(columns)

['Bathrooms', 'Bedrooms', 'Beds', 'LocationName', 'NumGuests', 'NumReviews', 'Price', 'Rating', 'latitude', 'longitude', 'zipcode', 'pop2016', 'pop2010', 'pop2000', 'cost_living_index (US avg. = 100)', 'land_area (sq.mi.)', 'water_area (sq.mi.)', 'pop_density (people per mile)', 'number of males', 'number of females', 'prop taxes paid 2016', 'median taxes (with mortgage', 'median taxes (no mortgage)', 'median house value', 'median houshold income', 'median monthly owner costs (with mortgage)', 'median monthly owner costs (no mortgage)', 'median gross rent', 'median asking price for vacant for-sale home/condo', 'unemployment (%)', 'Number of Homes', 'Count of Abnb', 'Density of Abnb (%)', 'Average Abnb Price (by zipcode)', 'Average NumReviews (by zipcode)', 'Average Rating (by zipcode)', 'Average Number of Bathrooms (by zipcode)', 'Average Number of Bedrooms (by zipcode)', 'Average Number of Beds (by zipcode)', 'Average Number of Guests (by zipcode)']

In [ ]:
chat_query3 = f""" SELECT ChatWithPandas('Replace values in Price column that are more than 2 std deviations from mean with the mean values',
     LocationName, Price, Rating, latitude) FROM sqlite_data.OUTLIERS_DATA;
"""

print(chat_query3)
result = cursor.query(chat_query2).execute()

In [46]:
eva_clean_outliers_df = pd.read_csv("cleaned_df.csv")

### Comparison

In [ ]:
print(f"Max value in Price: {dirty_outliers_df['Price'].max()}")
print(f"Max value in Price: {clean_outliers_df['Price'].max()}")
print(f"Max value in Price: {pd_clean_outliers_df['Price'].max()}")
print(f"Max value in Price: {eva_clean_outliers_df['Price'].max()}")